
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@478&family=Roboto+Mono:wght@576&display=swap');

:root{
--azul-real: #001d3d;
--azul-escuro: #03045e;
--cinza-escuro: #0d1b2a;
--creme: #e0ddcf;
--font-texto: "Roboto Mono", monospace;
--font-titulo: "Kode Mono", monospace;

}

body {
    background-color: var(--azul-escuro);
    color: var(--creme);
    font-family: var(--font-texto);
}

 .conteudo-principal{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
    }
