
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@478&family=Roboto+Mono:wght@576&display=swap');

:root{
--azul-real: #001d3d;
--azul-escuro: #03045e;
--cinza-escuro: #0d1b2a;
--creme: #e0ddcf;
--font-texto: "Roboto Mono", sans-serif;
--font-titulo: "Kode Mono", sans-serif;

}

body {
    background-color: var(--azul-escuro);
    color: var(--creme);
    font-family: var(--font-texto);
}

 .conteudo-principal{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
    }

.titulo.principal{
    text-align: left;
    width: 100%;
    font-size: 36px;
}

.titulo.principal span{
color:var(--creme);
}

.botao{
    font-family: var(--font-texto);
    background-color: var(--azul-escuro);
    color: var(--creme);
display: flex;
justify-content: center;
align-items: center;
padding: 1em;
width: 100%;
border-bottom: 4px var(--creme);
border-left: var(--azul-escuro);
border-right: var(--cinza-escuro);
border-top: none;
}

.botoes{
    display: block;
}

.botao:first-child{
    border-radius: 40px 40px 0 0;
}

.botao:last-child{
    border-radius: 0 0 40px 40px;
}

.ativo{
    background-color: var(--cinza-escuro);
    border-color: 4px solid  blue;
}

 @media screen and(min-width: 760px) {
   
    .botoes{
        display: flex;
    }
  
    .botao:first-child{
        border-radius: 40px 0 0 0;
 }
 .botao:last-child{
    border-radius: 0 40px 0 0;
 }
}
